div 
{
    background: darkblue;
    color: white;
    display: inline;
}
span
{
    background: darkred;
    color: white;
}
.linea-bloque
{
    background: green;
    color: white;
    display: inline-block;
    width: 300px;
}
.lista
{
    margin: 2.5rem;

    & div  
    {
        background: green;
        display: list-item;
    }
}