* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family; sans-serif;
}
body{
width: 100%;
display:flex;
align-items: center;
justify-content: center;
min-height: 100vh;
padding: 0 10px;
color: white;
}
body::before {

content: "";
position: absolute;
width: 100%;
height: 100%;
background-image: url(../imagenes/hero-bg.jpg);
background-position: center;
background-size: cover;
z-index: -1;
}
.wrapper {
width: 490px;
border-radius: 8px;
padding: 30px;
text-align: center;
border: 1px solid grey;
backdrop-filter: blur(8px);
}
form {
display: flex;
flex-direction: column;

}
h2 {
font-size: 2.5rem;
margin-bottom: 20px;
}
.input-field {
position: relative;
border-bottom: 2px solid white;
margin: 15px 0;
}
.input-field label{
position:absolute;
color: white;
top: 50%;
left:0;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: 0.15s eases;
}

.input-field input {
width: 100%;
height: 40px;
color: white;
background: transparent;
border: none;
outline: none;
font-size: 16px;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label{
font-size: 0.8rem;
top: 5px;
}
.forget {
display: flex;
align-items: center;
justify-content: space-between;
margin: 25px 0 35px 0;
color: white;
}
#remember {
accent-color: white;

}
.forget label {
display: flex;
align-items: center;

}
.forget label p {
margin-left: 8px;
}
.weraper a {
color: white;
text-decoration: none;
}
.weraper a:hover {
text-decoration: underline;
}
button {
background:white;
color: black;
border: none;
padding: 12px 20px;
cursor: pointer;
border-radius: 3px;
font-size: 16px;
border: 2px solid transparent;
transition: 0.3s eases;
}
.register {
text-align: center;
margin-top: 30px;
color: white;
}



