
body {
    background-image: url(../imagenes/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

header
{ 
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}
nav ul
{
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10;
    flex-wrap: wrap;
    margin: 0;
}
nav ul li 
{
    margin: 5px 10px; 
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
nav ul li a
{
    cursor:pointer;
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;

}
nav ul li :hover
{

    border-radius: 25px;
    background: rgba(36, 2, 2, 0.147);
    box-shadow: 
 0px 0px 10px #ff0000,
 0px 0px 40px  #ff0000,
 0px 0px 60px  #ff0000;
}
