
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(../imagenes/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 400px;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: black;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: blue;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}