.estilo-tabla
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    box-shadow: 1em;
    min-width: 400px;
}
.estilo-tabla thead tr
{
    background-color: #980081;
    color: white;
    text-align: middle;
}
.estilo-tabla th
{
    padding: 12px 15px;
}
.estilo-tabla tbody tr 
{
    border-bottom: 1px solid red;
}
.estilo-tabla tbody tr:nth-of-type(even)
{
    background-color: rgb( 88 , 87, 87);
}
.estilo-tabla tbody tr:last-of-type(odd)
{
    background-color: rgb(39, 38, 38);
}
.estilo-tabla tbody tr:last-of-type
{
    border-bottom: 2px solid green;
}
.estilo-tabla tbody tr:hover
{
    box-shadow: 0px 4px 10px white;
    text-shadow: 2px 2px 5px rgb(101, 189, 101);
}