:root
{
    --ColorDFondo:rgb(33,148,23);
    --OtroColor: coral;
}
body
{
    background:var(--ColorDFondo, --OtroColor);
}
.padre
{
    --FondoPadre: red;
}
.hijo1
{
    background: var(--FondoPadre);
}

.text
{
    color: beige;
    font-size:4rem;
    text-shadow: -1px -1px 3px #999, /*posx posy size color*/ 
                  0 0 1px darkred,
                  1px 1px 1px red, 
                  2px 2px 1px #555,
                  4px 4px 4px #000;      
}
.hijo2
{
    box-shadow: -5px -5px 10px #484848 inset, /*posx posy size color inset*/
                 10px 10px 10px red,
                 20px 20px 10px blue;     
}

.elemento
{
    width: 600px;
    height: 100px;
    background-image: linear-gradient(to right,
                                       black 25%, blue 25% 50%,
                                       gold 87%, green 87% 90%,
                                       red 100% );
}
.elemento2
{
    width: 600px;
    height: 100px;
    background: radial-gradient(ellipse, gold 50%, red 55%, black 75%);
}
.elemento3
{
    width: 600px;
    height: 100px;
    background-image: conic-gradient(yellow 10%, 
                             blue 20%, red 30%);
}